 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="aa-contact-area">
           <div class="aa-contact-top">
             <h2>Liên hệ với chúng tôi </h2>
             <p>Vui lòng nhập thông tin liên lạc </p>
           </div>
           <!-- Contact address -->
           <div class="aa-contact-address">
             <div class="row">
               <div class="col-md-8">
                 <div class="aa-contact-address-left">
                   <form class="comments-form contact-form" action="">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="Nhập tên" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="email" placeholder="Nhập email" class="form-control">
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="Nội dung " class="form-control">
                        </div>
                      </div>
                    </div>                  
                     
                    <div class="form-group">                        
                      <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="aa-secondary-btn">Gửi</button>
                  </form>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="aa-contact-address-right">
                   <address>
                     <h4>Nhất VM</h4>
                     <p>Thông tin liên lạc về chúng tôi </p>
                     <p><span class="fa fa-home"></span>236 Khương Đình Thanh Xuân Hà Nội</p>
                     <p><span class="fa fa-phone"></span>+ 84 372583407 (Zalo)</p>
                     <p><span class="fa fa-envelope"></span>Email: support@nhatvm.com</p>
                   </address>
                 </div>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>