
<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>VỀ CHÚNG TÔI </h3>
                                    <ul class="aa-footer-nav">
                                        <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a asp-action="Index" asp-controller="Lienhe">Liên hệ</a></li>
                                        <li><a asp-action="Index" asp-controller="Tintuc">Tin tức</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>THÔNG TIN CẦN THIẾT</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Điều Khoản & dịch vụ</a></li>
                                            <li><a href="#">Chính sách bảo mật</a></li>
                                            <li><a href="#">Câu hỏi thường gặp</a></li>
                                            <li><a href="#">Miễn phí</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>HỖ TRỢ </h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Trợ lý ảo di động </a></li>
                                            <li><a href="#">Chính sách phát triển</a></li>
                                            <li><a href="#">Trung tâm trợ giúp </a></li>
                                            <li><a href="#">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>LIÊN HỆ </h3>
                                        <address>
                                            <p> 236 Khương đình Thanh xuân Hà nội</p>
                                            <p><span class="fa fa-phone"></span>+84 372583407</p>
                                            <p><span class="fa fa-envelope"></span>Nhatvm@vm.com</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/NhatIT2307"><span class="fa fa-facebook"></span></a>
                                            <a href="https://www.facebook.com/NhatIT2307"><span class="fa fa-twitter"></span></a>
                                            <a href="https://www.facebook.com/NhatIT2307"><span class="fa fa-google-plus"></span></a>
                                            <a href="https://www.facebook.com/NhatIT2307"><span class="fa fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Bản quyền thuộc về &<a href="http://www.markups.io/">Nhất VM</a></p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->