
<!-- Start header section -->
<!-- start header top  -->
<div class="aa-header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-top-area">
                    <!-- start header top left -->
                    <div class="aa-header-top-left">

                        <!-- start cellphone -->
                        <div class="cellphone hidden-xs">
                            <p><span class="fa fa-phone"></span>+84 372583407</p>
                        </div>
                        <!-- / cellphone -->
                    </div>
                    <!-- / header top left -->
                    <div class="aa-header-top-right">
                        <ul class="aa-head-top-nav-right">
                            @if (ViewBag.Taikhoan !=null)
                            {
                                <li><a href="#">Xin chào, @ViewBag.Taikhoan</a></li>
                                <li><a asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Login" asp-action="Index">Đăng nhập</a></li>
                            }

                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="aa-header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-bottom-area">
                    <!-- logo  -->
                    <div class="aa-logo">

                        <!-- img based logo -->
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo1.jpg" alt="logo ảnh"></a>
                    </div>
                    <!-- / logo  -->
                    <!-- search box -->
                    <div class="aa-search-box">
                        <form action="@Url.Action("Index","Home")" method="get">
                            <input type="text" name="searchTerm" id="searchTerm" placeholder="Nhập nội dung tìm kiếm ... ">
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<section id="menu" class="menu_test">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">

                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        
                        <li><a asp-controller="Lienhe" asp-action="Index">Liên hệ</a></li>
                        <li><a asp-controller="Tintuc" asp-action="Index">Tin tức</a></li>
                        <li>
                            <a href="#">Hệ thống <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Hethong" asp-action="Index">404</a></li>

                            </ul>
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>

<!--Banner-->

<!--Banner-->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/img/Banner/banner1.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/img/Banner/banner2.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/img/Banner/banner3.png" alt="" />
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>



